/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inconsolata", sans-serif;
    background-color: #c4c4c4;
  }
  h1,
  h2 {
    font-family: "New Amsterdam", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: "Domine", sans-serif;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.67em;
  }
}

.main-nav {
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 1px;
}

.wrapper.banner {
  text-align: center;
  margin-block-start: 0 !important;
}

.wrapper.banner.pack-of-wolves {
  background-color: #f1a62d;
}

.wrapper.banner.youth-troop {
  background-color: #14b8a6;
}

.wrapper.banner.clan-rover {
  background-color: #8e0704;
}

.banner.pack-of-wolves h3 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #0d335950;
}

.banner.youth-troop h3 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #8f31a990;
}

.banner.clan-rover h3 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #a3a3a390;
}

.banner h3 {
  font-family: "New Amsterdam", sans-serif;
  background: url(https://png.pngtree.com/thumb_back/fw800/background/20240107/pngtree-nature-adventure-vibrant-vector-pattern-with-camping-and-hiking-theme-a-image_13901697.png);
  margin: 1.5rem;
  display: inline-flex;
  font-size: 6.5rem;
  letter-spacing: 5px;
  line-height: 5rem;
  font-weight: 800;
  background-position: 0 0;
  text-transform: uppercase;
  animation: animatedOne 30s linear infinite;
  transition: 2s ese-out;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

@media (max-width: 575px) {
  .banner h3 {
    font-size: 4rem;
    line-height: 3.5rem;
  }
}

.banner h3:hover {
  cursor: pointer;
}

@keyframes animatedOne {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.postCardTitle {
  margin-bottom: 0.5rem;
}

.post-item:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.listStyle {
  list-style: disc;
  margin-left: 1rem;
}

.slider-container {
  -webkit-margin-before: 0.3rem !important;
  margin-block-start: 0.3rem !important;
}

.slider-container .slider-item:first-child {
  margin-left: 0;
}

.slider-container .slider-item:last-child {
  margin-right: 0;
}

/* Estilo del contenedor del scrollbar */
.slider-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  display: none;
}

/* Estilo de la pista del scrollbar */
.slider-container::-webkit-scrollbar-track {
  cursor: grab;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c4c4c4;
  border-radius: 10px;
  display: none;
}

/* .slider-container::-webkit-scrollbar-track:hover,
.slider-container::-webkit-scrollbar-track:active {
  background: linear-gradient(to left, #7c7c7c, #494949);
} */

/* Estilo del pulgar del scrollbar */
.slider-container::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  display: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.1rem;
  padding: 0 12px;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-wrapper {
  -webkit-margin-before: 0.5rem !important;
  margin-block-start: 0.5rem !important;
  max-width: 1200px !important;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.slider-container .slider-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  scroll-snap-align: center;
}

.slider-container .slider-item:hover {
  cursor: move;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@media (max-width: 575px) {
  .slider-container .slider-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
  }
}

.whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.whatsapp__button {
  border-width: 2px;
  border-radius: 0px;
  border-color: rgb(15, 23, 42);
  background-color: rgb(20, 184, 166);
  color: rgb(15, 23, 42);
  padding: 0.6rem 0.5rem;
  min-width: 1px;
  font-family: "Inder", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone__button {
  border-width: 2px;
  border-radius: 0px;
  border-color: rgb(15, 23, 42);
  background-color: rgb(203, 213, 225);
  color: rgb(15, 23, 42);
  padding: 0.6rem 0.5rem;
  min-width: 1px;
  font-family: "Inder", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.budget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.budget__button {
  border-width: 2px;
  border-radius: 0px;
  border-color: rgb(15, 23, 42);
  background-color: rgb(203, 213, 225);
  color: rgb(15, 23, 42);
  padding: 0.6rem 0.5rem;
  min-width: 1px;
  font-family: "Inder", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.galleryStyle {
  margin: 0.5rem -0.25rem !important;
}

.galleryStyle div {
  padding: calc(var(--block-gap) / 4);
}

.audioStyle {
  width: 100% !important;
  background-color: #f3f4f6; /* Fondo del reproductor */
  border: 2px solid #1e293b; /* Borde */
  border-radius: 8px; /* Bordes redondeados */
  width: 100%;
  height: 40px;
}

.audioStyle::before {
  content: "Your browser does not support the audio element.";
  color: #1e293b;
  font-size: 14px;
}

.domine-regular {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-slab-regular {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dosis-regular {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.yarl__slide {
  @apply flex flex-col items-center justify-center;
}

.yarl__slide_title_container .yarl__slide_title {
  @apply text-white text-center text-sm md:text-base font-bold m-1;
}

.yarl__slide_description_container .yarl__slide_description {
  @apply text-white text-center text-xs md:text-sm md:p-2;
}

.wpcf7-form-control {
  @apply border border-black p-2 w-full resize-none text-black;
}

.wpcf7-form {
  @apply max-w-md text-white;
}

.wpcf7-form p {
  @apply mt-2;
}

.wpcf7-submit {
  @apply w-full text-white inline-block uppercase font-bold tracking-[1.3px] bg-dark-engine py-3 px-6;
}

.svg-inline--fa {
  @apply text-white;
}
