---
import CommonHead from "../components/CommonHead.astro";
---

<html lang="en">
  <CommonHead title="Not found!" description="" />
  <body class="bg-event-horizon text-white">
    <div class="text-center flex flex-col justify-center min-h-screen">
      <h1>Oops!</h1>
      <h2>Lo sentimos el contenido que buscas no existe!</h2>
      <a href="/" class="text-blast-off block py-3"
        >Regresar a la página de inicioF</a
      >
    </div>
  </body>
</html>
